div.user-data
    h1 Welcome {{ vm.user.naam }}

    h4 your current role is: "{{ vm.user.rolDsc }}"

    div.role-access
        h3 Accountmanager
        div(ng-if="vm.user.rolDsc === 'Accountmanager'")
            h5  u heeft toegang to dit deel van de pagina (u heeft toegang tot alle delen van deze pagina)
            p dit is een heel belangrijk geheim wat niet iedereen mag zien (Alleen accountmanagers mogen dit geheim zien)
        h5(ng-if="vm.user.rolDsc != 'Accountmanager'") u heeft geen toegang tot deze gegevens
        h3 Accountmanager / Afdelingsmedewerker
        div(ng-if="vm.user.rolDsc === 'Accountmanager' || vm.user.rolDsc === 'Afdelingsmedewerker'")
            h5 u heeft toegang to dit deel van de pagina
            p dit is een heel belangrijk geheim wat niet iedereen mag zien
        h5(ng-if="vm.user.rolDsc != 'Accountmanager' && vm.user.rolDsc != 'Afdelingsmedewerker'") u heeft geen toegang tot deze gegevens
        h3 Accountmanager / Organisatiebeheerder
        div(ng-if="vm.user.rolDsc === 'Accountmanager' || vm.user.rolDsc === 'Organisatiebeheerder'")
            h5 u heeft toegang to dit deel van de pagina
            p dit is een heel belangrijk geheim wat niet iedereen mag zien
        h5(ng-if="vm.user.rolDsc != 'Accountmanager' && vm.user.rolDsc != 'Organisatiebeheerder'") u heeft geen toegang tot deze gegevens
        h3 Accountmanager / Guest
        div(ng-if="vm.user.rolDsc === 'Accountmanager' || vm.user.rolDsc === 'Guest'")
            h5 u heeft toegang to dit deel van de pagina
            p dit is een heel belangrijk geheim wat niet iedereen mag zien
        h5(ng-if="vm.user.rolDsc != 'Accountmanager' && vm.user.rolDsc != 'Guest'") u heeft geen toegang tot deze gegevens
