form(ng-submit="form.login(form.values)", novalidate)
    
    div.form-group.form-field-email
        label Email:
        input(type="text", ng-model="form.values.email", name="email")

    div.form-group.form-field-password
        label Password:
        input(type="password", ng-model="form.values.password", name="password")

    div.form-group.form-field-submit
        button(type="submit") Login
