section(layout="row", flex)
    md-button.md-icon-button(hide-gt-sm, aria-label='Open menu', ng-click='mc.toggleMenu()')
        i.material-icons menu
    md-sidenav.md-sidenav-left(layout="column", md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
        md-toolbar(layout-align="center center")
            a(ui-sref="front")
                img(src="/media/logo.png")
        md-content(flex, role="navigation")
            ul.menu
                li(ng-repeat="link in mc.menu")
                    md-button(ui-sref="{{ link.state }}", aria-label="{{ link.title }}", ui-sref-active="active") {{ link.title }}
                li(ng-if="isAuthenticated")
                    md-button(ng-click="logout()", ng-href="", aria-label="logout") Logout
