header {
    height: 100vh;
    background-color: @blue;
    .md-icon-button {
        color: @white;
    }
    md-sidenav.md-sidenav-left {
        md-toolbar {
            background-color: @white;
            color: @blue;
            a {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                }
            }
            &:after {
                content: "";
                height: 1em;
                width: 1em;
                position: absolute;
                top: calc(100% ~"-" 0.5em);
                left: calc(50% ~"-" 0.5em);
                .rotate(45deg);
                background-color: @white;
            }
        }
        md-content {
            color: @light-blue;
            background-color: @blue;
            .menu {
                padding: 0;
                margin-top: 0;
                li {
                    border-bottom: 1px solid @dark-blue;
                    border-top: 1px solid @dark-blue;
                    &:not(first-child) {
                        margin-top: -1px;
                    }
                    a {
                        margin: 0;
                        padding: 1em;
                        width: 100%;
                        text-align: left;
                        border-radius: 0;
                        font-weight: bold;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
