doctype html
html(lang="en", ng-app="app")
    head
        meta(charset="utf-8")
        meta(name="fragment", content="!")
        base(href="/")

        title(ng-bind="seo.pageTitle + ' | Credito'")

        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="icon", type="image/ico", href="/media/favicon.ico")

        link(rel="stylesheet", href="/assets/angular-material/angular-material.css")
        link(rel="stylesheet", href="/assets/angular-material-icons/angular-material-icons.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")


        link(rel="stylesheet", href="/css/app.min.css")

    body(ng-class="$state.current.name")
        div#page(layout="row", ui-view="page")

        script(type="text/javascript", src="/assets/jquery/dist/jquery.min.js")

        script(type="text/javascript", src="/assets/angular/angular.js")

        script(type="text/javascript", src="/assets/angular-aria/angular-aria.min.js")
        script(type="text/javascript", src="/assets/angular-animate/angular-animate.min.js")
        script(type="text/javascript", src="/assets/angular-resource/angular-resource.min.js")
        script(type="text/javascript", src="/assets/ngstorage/ngStorage.min.js")
        script(type="text/javascript", src="/assets/angular-ui-router/release/angular-ui-router.min.js")

        script(type="text/javascript", src="/assets/angular-material/angular-material.min.js")
        script(type="text/javascript", src="/assets/angular-material-icons/angular-material-icons.min.js")

        script(type="text/javascript", src="/assets/videogular/videogular.min.js")
        script(type="text/javascript", src="/assets/videogular-poster/vg-poster.min.js")
        script(type="text/javascript", src="/assets/videogular-overlay-play/vg-overlay-play.min.js")
        script(type="text/javascript", src="/assets/videogular-controls/vg-controls.js")
        script(type="text/javascript", src="/assets/videogular-buffering/vg-buffering.min.js")

        script(type="text/javascript", src="/js/app.js")
