*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: @light-grey;
    #page {
        md-backdrop.md-opaque {
            opacity: 0.8;
        }
        >main {
            width: 100%;
        }
    }
}
