/**
 * Colors
 */
@black: #000;
@white: #FFF;
@grey: #DDDDDD;
@light-grey: #F4F4F4;

@blue: #2A4D9C;
@red: #E73458;
@green: #41AB34;
@yellow: #FFEB41;

/**
 * shades of blue
 */
@light-blue: #B7DDF4;
@dark-blue: #007ab1;

